 body {
                margin: 0;
                padding: 0;
            }
            .clear {
                clear: both;
            }
            header {
                height: 210px;
            }
            #topbar {
                background-color: #0078B9;
                height: 40px;
                width: 100%;
            }
            #topbarcenter {
                width: 1028px;
                list-style-type: none;
                margin: auto;
                text-align: justify;
                padding-top: 5px;
                font-family: serif;
                font-weight: bold;
            }
            #logo {
                width: 1028px;
                height: 120px;
                background-color: whitesmoke;
                margin: 6px auto 0 auto;
                padding: 10px 0 0 15px;
            }
            #topbarcenter li {
                display: inline;
                text-align: justify;
                position: relative;
                padding: 8px;
                }
            #topbarcenter a {
                text-decoration: none;
                color: white;
                font-size: 12px;
            }
            #topbarcenter a:hover {
                text-decoration: underline;
            }
            #menu {
                background-color: black;
                height: 40px;
                width: 100%;
            }
            #menulinks {
                margin: 0 auto 0 auto;
                width: 1028px;
                padding: 0;
            }
            #menulinks li {
                display: inline;
                border-right: 1px whitesmoke solid;
                padding: 13px 0px;
            }
            #menulinks li:last-child{
                border-right: none;
            }
            #menulinks a {
                width: 1028px;
                text-decoration: none;
                color: white;
                font-size: 12px;
                font-weight: bold;
                font-family: serif;
                padding: 14px 5px 12px 5px;
            }
            #menulinks a:hover {
                background-color: #0078B9;
            }
            .homeglobeimage{
                width: 25px;
                border-radius: 50%;
                transform: translate(-5%, 28%);
            }
            #body {
                width: 1028px;
                background-color: whitesmoke;
                min-height: 380px;
                max-height: 100% !important;
                padding-left: 10px;
                padding-right: 10px;
                position: relative;
                margin: 0 auto 0 auto;
            }
            .topic {
                font-size: 20px;
                font-weight: bold;
                padding: 20px 0 20px 0;
                max-height: 100% !important;
                min-height: 680px;
                margin: 0 0 20px 20px;;
                display: block;
                
            }
            .topic a {
                text-decoration: none;
            }
            .container {
                float: left;
                width: 66%;
                position: absolute;
                left: 0;
                display: block;
            }
            .container img {
                width: 95%;
                height: auto;
                padding: 10px;
            }
            .news {
                float: right;
                width: 33%;
                position: absolute;
                right: 0;
                margin-left: 10px;
                padding: 20px;
            }
            #newslinks li {
                display: block;
            }
            #newslinks a {
                text-decoration: none;
            }
            #newslinks img {
                width: 50%;
            }
            #newslinks p {
                display: inline;
                position: absolute;
                padding-left: 10px;
            }